<h1 class="error">Setup incomplete!</h1>

<p>Report recipients are not configured.</p>
<p>Configure recipeients using the <span class="code">RECEIPIENTS</span> environment variable.
  See the <a href="https://github.com/livefront/acracadabra/blob/master/README.md">README</a>
  for details.
</p>
