<h1 class="error">Setup incomplete!</h1>

<% if @config[:from_address].blank? %>
  <p><span class="code">FROM_ADDRESS</span> environment variable not defined.<p>
<% end %>

<% if @config[:recipients].blank? %>
  <p><span class="code">RECIPIENTS</span> environment variable not defined.<p>
<% end %>

<p> See the <a href="https://github.com/livefront/acracadabra/blob/master/README.md">README</a> for details.</p>
