<h1>Setup complete!</h1>
<p>From address: <%= @config[:from_address] %>
<p>Report recipient(s): <%= @config[:recipients]%></p>
<p>See <a href="https://github.com/livefront/acracadabra#android-config">Configuring your Android app</a> for details on how to send crash reports from your Android app to your acracadabra installation.</p>
